<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>26 July 2021</p><h1>

In [7]:
number = 0
while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')

0
1
2
3
4
5
now, number is bigger or equal to 6

In [14]:
my_list = ["a", "b", "c", "d", "e", "f"]
a = 0
while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2)
    a += 1

SyntaxError: invalid syntax (<ipython-input-14-8a1298790b8a>, line 5)

In [10]:
while 0 :
    print("bir")
print("iki")

iki

In [2]:
while [] :
    print("while")
print("outside of while")

outside of while

In [3]:
while None :
    print("while")
print("outside of while")

outside of while

In [4]:
"-16".isdigit()

False

In [5]:
"12345679".isdigit()

True

In [7]:
age = input("Enter your age in correct format : ")

while not age.isdigit() :
    print("You entered incorrect.! Write out correct format.")
    age = input("Enter your age in correct format : ")
print("Your age is : ", age)

Enter your age in correct format : 22
Your age is :  22

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

In [17]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count2 >0 :
    print(flowers[end ="\n"])
    count1 -= 1
    count2 += 1

SyntaxError: invalid syntax (<ipython-input-17-9f60821f2e3a>, line 6)

In [25]:
sentence = input("give me a sentence without any punctuation :")

words = sentence.split()
i = 0
longest = 0

while i < len(words) :
    if len(words[i]) > longest :
        longest = len(words[i])
    i += 1
    
print("the length of the longest word is :", longest)

give me a sentence without any punctuation :clarusway is the best
the length of the longest word is : 9

In [18]:
words = "clarusway is the best".split()

In [19]:
words

['clarusway', 'is', 'the', 'best']

In [20]:
len(words[0])

9

In [21]:
len(words[1])

2

In [22]:
len(words[2])

3

In [23]:
len(words[3])

4

In [26]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]

In [27]:
for i in names :
    print("hello", i)

hello Ahmed
hello Aisha
hello Adam
hello Joseph
hello Gabriel

In [18]:
numbers = []
for i in range(1, 6):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5]

In [28]:
range(1,6)

range(1, 6)

In [29]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [31]:
b = list(range(1,6))
print(b)

[1, 2, 3, 4, 5]

In [32]:
b = set(range(1,6))
print(b)

{1, 2, 3, 4, 5}

In [30]:
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [34]:
b = tuple(range(1,6))
print(b)

(1, 2, 3, 4, 5)

In [31]:
print(* range(1,6))

1 2 3 4 5

In [35]:
print(range(6))

range(0, 6)

In [36]:
print(*('separate'))

s e p a r a t e

In [33]:
for i in range(1,6) :
    print(i, end=" ")

1 2 3 4 5

In [34]:
list(range(-4,4))

[-4, -3, -2, -1, 0, 1, 2, 3]

In [35]:
list(range(-4,4,-1))

[]

In [36]:
list(range(4,-4,-1))

[4, 3, 2, 1, 0, -1, -2, -3]

In [37]:
print(*range(10, 0, -2))

10 8 6 4 2

In [37]:
word = "clarusway"

for i in word :
    print(i, end = "-")

c-l-a-r-u-s-w-a-y-

In [38]:
count = 0

for i in word :
    count += 1
    if count < len(word) :
        i = i + "-"
    print(i, end = "")

c-l-a-r-u-s-w-a-y

In [25]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
    }
for key, value in user.items():
    print(key, ":",value)

name : Daniel
surname : Smith
age : 35

In [28]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
    }
for i in user.values():
    print(i, end = ' ')

Daniel Smith 35

In [29]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
    }
for attribute in user:
    print(attribute)

name
surname
age

In [28]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
    }
for i in user.values():
    print(i, end = ' ')

Daniel Smith 35

In [19]:
a = 3

In [40]:
i = 5

In [41]:
i

5

In [42]:
key, val = 3, 5
key

3

In [43]:
val

5

In [30]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

10x0 =  0
10x1 =  10
10x2 =  20
10x3 =  30
10x4 =  40
10x5 =  50
10x6 =  60
10x7 =  70
10x8 =  80
10x9 =  90
10x10 =  100

In [28]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
    }
for i in user.values():
    print(i, end = ' ')

Daniel Smith 35

In [44]:
print("3"*3)

333

In [45]:
print("8"*8)

88888888

In [46]:
for i in range(1,10) :
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [47]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]

In [48]:
zip(text, numbers)

In [49]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [50]:
for x, y in list(zip(text, numbers)) :
    print(x, y)

one 1
two 2
three 3
four 4
five 5

In [38]:
evens = []
odds = []
for i in range(10):
    if i % 2 == 0:
        evens.append(i)
    else: 
        odds.append(i)

print(evens)
print(odds)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]